1. Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
for i in range(0,5):
    for j in range(0,i):
        print('*',end=" ")
    print("\n")
else:
    for i in range(5,0,-1):
        for j in range(i,0,-1):
            print('*',end=" ")
        print("\n")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

2. Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: ineuron
Output: norueni

In [3]:
x=input("Enter a Word ")
print(x[::-1])

Enter a Word ineuron
norueni

3.Write a program which accepts a sequence of comma-separated numbers from console
and generate a list.

In [4]:
print(list(input('Enter comma separated values').split(',')))

Enter comma separated values29,12,97,93,chandu,bindu
['29', '12', '97', '93', 'chandu', 'bindu']